*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
}

/* ---------------- HOME PAGE ---------------- */

.box{
    background-color: white;

    width: 85%;
    max-width: 900px;

    margin: 120px auto;

    border-radius: 19px;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);

    font-family: 'Fredoka', sans-serif;

    padding: 40px;

    text-align:center;
}

.Quiz-Time{
    font-size: 70px;
    font-weight: 600;
    color: rgb(226, 102, 8);

    margin-top: 30px;
    margin-bottom: 40px;
}

.description {
    font-size: 28px;
    color: rgb(109, 106, 106);

    max-width: 500px;

    margin: 0 auto 60px auto;

    line-height: 1.5;
}

.Start-Quiz-button {
    font-size: 25px;

    color: white;

    border-radius: 12px;

    border: none;

    cursor: pointer;

    background-color: rgb(226, 102, 8);

    padding: 20px 40px;

    transition: 0.3s;

    display:inline-block;
}

.Start-Quiz-button:hover{
    background: #cd5912;
}

/* ---------------- QUIZ PAGE ---------------- */

.quiz-box{
    background-color: white;

    width: 85%;
    max-width: 700px;

    margin: 120px auto;

    padding: 40px;

    border-radius: 19px;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);

    font-family: 'Fredoka', sans-serif;
}

.Question {
    width: 100%;

    font-size: 30px;

    text-align: center;

    font-weight: 600;

    line-height:1.4;
}

.info-row{
    display:flex;

    justify-content:space-between;

    margin-top:20px;

    gap:20px;
}

.option{
    width:100%;

    margin-top:20px;

    padding:15px;

    border:none;

    background-color: rgb(246, 228, 231);

    border-color: #eec3c3;

    border-style: solid;

    border-width: 1px;

    border-radius:12px;

    font-size:18px;

    cursor:pointer;

    text-align: left;

    transition:0.3s;
}

.option:hover{
    background:#eec0c0;

    border-color: #e7a5a5;
}

.progress-bar{
    width:100%;

    margin-top: 20px;

    background-color:  rgb(246, 228, 231);

    border-style:none;

    height: 14px;

    border-radius: 25px;

    overflow:hidden;
}

.progress-fill{
    width: 0%;

    height: 100%;

    background-color: rgb(226, 102, 8);

    border-radius: 25px;

    transition: 0.4s;
}

/* ---------------- RESULTS PAGE ---------------- */

.result-box{
    background-color: white;

    width: 85%;
    max-width: 900px;

    margin: 120px auto;

    border-radius: 19px;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);

    font-family: 'Fredoka', sans-serif;

    padding: 40px;

    text-align: center;
}

.Quiz-Results{
    font-size: 42px;

    font-weight: 600;

    color: rgb(226, 102, 8);

    margin-top: 30px;

    margin-bottom: 40px;
}

.small-box{
    background-color: rgb(246, 228, 231);

    margin: 40px auto;

    width: 85%;

    border-radius: 18px;

    padding: 30px;
}

.score-description{
    font-size: 28px;

    color: rgb(0, 0, 0);

    margin-bottom: 30px;

    line-height:1.4;
}

.message{
    font-size: 30px;

    font-weight: 600;

    color: rgb(226, 102, 8);

    line-height:1.5;
}

.Restart-Quiz-button{
    font-size: 20px;

    color: white;

    border-radius: 12px;

    border: none;

    cursor: pointer;

    background-color: rgb(226, 102, 8);

    padding: 18px 40px;

    transition: 0.3s;

    margin-top:20px;
}

.Restart-Quiz-button:hover{
    background:#cd5912;
}

/* ---------------- MOBILE RESPONSIVE ---------------- */

@media (max-width: 768px){

    .box,
    .quiz-box,
    .result-box{
        width: 92%;

        margin: 40px auto;

        padding: 25px;
    }

    .Quiz-Time,
    .Quiz-Results{
        font-size: 42px;

        margin-bottom: 25px;
    }

    .description{
        font-size: 22px;

        margin-bottom:40px;
    }

    .Question{
        font-size:24px;
    }

    .info-row{
        flex-direction:column;

        align-items:center;

        gap:10px;
    }

    .option{
        font-size:16px;

        padding:14px;
    }

    .message{
        font-size:24px;
    }

    .score-description{
        font-size:22px;
    }

    .Start-Quiz-button,
    .Restart-Quiz-button{
        width:100%;

        font-size:20px;

        padding:16px;
    }

    .small-box{
        width:100%;
    }
}
